<div  id="site_search">
<form name="input" action="{{url:base}}index.php/searchpage" method="get">
<input type="text" name="search" class="search" title="{{helper:lang line='searchpage:search'}}"/>
<input type="submit" value="{{helper:lang line='searchpage:search'}}"/>
</form>
</div>
